<%= form_for(post) do |f| %>
  <% if post.errors.any? %><!--印出錯誤-->
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <label><%= t("post.title") %></label>
    <%= f.text_field :title, class:"form-control" %>

    <label><%= t("post.content") %></label>
    <%= f.text_area :content, class:"form-control", rows:"5", id:"wysiwyg" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>
  $(function() {
    $('#wysiwyg').froalaEditor({
      toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html']
    })
  });
</script>
