<p id="notice"><%= notice %></p>
<%= link_to '我要留言', new_post_path, class:"btn btn-primary" %>
<%= render 'shared/title', title: "看看別人留什麼..." %>
<%= paginate @posts %>
<% i=1 %>
<% @posts.each do |post| %>
<div class="panel panel-info">
  <div class="panel-heading">#<%= i %>:::<%= post.title %></div>
  <div class="panel-body"><%=raw post.content %></div>

  <div class="btn-group btn-group-justified">
      <%= link_to '顯示', post_path(post), class:"btn btn-primary" %>
      <%= link_to '編輯', edit_post_path(post), class:"btn btn-primary" %>
      <%= link_to '删除', post_path(post), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% i+=1 %>
<% end %>

<%= paginate @posts %>

